<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Xếp hạng điểm thi THPTQG 2021 - đợt 1</title>
    <meta name="description" content="Công cụ nho nhỏ để tính thứ hạng điểm thi của bạn"/>
    <meta name="og:type" content="website"/>
    <meta property="og:title" content="Xếp hạng điểm thi THPTQG 2021 - đợt 1"/>
    <meta property="og:description" content="Công cụ nho nhỏ để tính thứ hạng điểm thi của bạn"/>
    <meta property="og:image" content="https://ntnam11.gitlab.io/tsdhrank/og.png">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
