:root {
    * {
        box-sizing: border-box;
        line-height: 1.5;
    }
    body {
        cursor: pointer;
    }
}

.required {
    &:after {
        content: '*';
        color: red;
    }
}

label {
    cursor: pointer;
}

.number {
    font-weight: bold;
    font-size: 120%;
}

.hidden {
    display: none!important;
}

.error {
    color: red;
}

.hide {
    opacity: 0;
}