<template>
  <div id="app">
    <div class="data-input">
      <label for="score" class="required">Điểm thi</label>
      <input type="text" name="score" v-model="score" v-on:keyup="error = false; hasResult = false">
      <label for="grade" class="required">Khối thi</label>
      <select name="grade" v-model="grade" class="required" v-on:click="error = false; hasResult = false">
        <option disabled value="">Chọn khối thi</option>
        <option value="A">A</option>
        <option value="A1">A1</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
      <div class="data-input">
        <p>Khu vực</p>
        <div class="data-input-areas">
          <div class="data-input-areas-area">
            <input type="checkbox" id="area-B" name="area-B" value="B" v-model="area" v-on:click="resetResult">
            <label for="area-B">Miền Bắc</label>
          </div>
          <div class="data-input-areas-area">
            <input type="checkbox" id="area-T" name="area-T" value="T" v-model="area" v-on:click="resetResult">
            <label for="area-T">Miền Trung</label>
          </div>
          <div class="data-input-areas-area">
            <input type="checkbox" id="area-N" name="area-N" value="N" v-model="area" v-on:click="resetResult">
            <label for="area-N">Miền Nam</label>
          </div>
          <div class="data-input-areas-area">
            <input type="checkbox" id="area-TN" name="area-TN" value="TN" v-model="area" v-on:click="resetResult">
            <label for="area-TN">Tây Nguyên</label>
          </div>
        </div>
      </div>
      <div>
        <p>Tính điểm cộng theo Khu vực (xem qua <a href="#notice">lưu ý</a> nhé)</p>
        <label for="score-plus">Điểm cộng của bạn (điền 0 nếu bạn được cộng 0 điểm)</label>
        <input type="text" name="score-plus" style="margin-left: 10px" v-model="score_plus" v-on:keyup="error = false; hasResult = false">
      </div>
      <div class="data-button">
        <button v-on:click="getData()">Kiểm tra</button>
      </div>
    </div>
    <div id="message" class="error" v-show="error">
      {{ message }}
    </div>
    <div id="result" v-bind:class="{ hide: !hasResult }">
      <b>Kết quả:</b>
      <div class="result-grade">
        <p>Tổng số thí sinh thi khối {{ grade }}: <span class="number">{{ result.total }}</span></p>
        <p>Bạn đứng thứ <span class="number">{{ result.rank }}</span>, ngang với <span class="number">{{ result.rank_equal }}</span> thí sinh khác (top <span class="number">{{ result.percentage }} %</span>)</p>
      </div>
      <div class="result-area" v-show="show_area">
        <p>Tổng số thí sinh khối {{ grade }} khu vực {{ getAreaName() }}: <span class="number">{{ result.area_total }}</span></p>
        <p>Bạn đứng thứ <span class="number">{{ result.area_rank }}</span>, ngang với <span class="number">{{ result.area_rank_equal }}</span> thí sinh khác (top <span class="number">{{ (result.area_rank / result.area_total * 100).toFixed(2) }} %</span>)</p>
      </div>
    </div>
    <div id="result-plus" v-show="show_plus" v-bind:class="{ hide: !hasResult }">
      <b>Sau khi tính điểm cộng:</b>
      <div class="result-grade">
        <p>Bạn đứng thứ <span class="number">{{ result.rank_plus }}</span>, ngang với <span class="number">{{ result.rank_equal_plus }}</span> thí sinh khác (top <span class="number">{{ result.percentage_plus }} %</span>)</p>
      </div>
      <div class="result-area" v-show="show_area">
        <p>Khu vực {{ getAreaName() }}:</p>
        <p>Bạn đứng thứ <span class="number">{{ result.area_rank_plus }}</span>, ngang với <span class="number">{{ result.area_rank_equal_plus }}</span> thí sinh khác (top <span class="number">{{ (result.area_rank_plus / result.area_total_plus * 100).toFixed(2) }} %</span>)</p>
      </div>
    </div>
    <div id="result-chart" v-bind:class="{ hide: !hasResult }">
      <div class="chart-tooltip" ref="chart-tooltip" v-show="chart.tooltip.show">
        <div class="tooltip-key">{{ chart.tooltip.key }}</div>
        <div class="tooltip-value">{{ chart.tooltip.value }}</div>
      </div>
      <div id="chart" ref="result-chart">
        <h3 class="chart-header">Phổ điểm</h3>
        <div class="chart-area" ref="chart-area"></div>
        <div class="chart-comment"></div>
      </div>
      <div id="chart_plus" ref="result-chart-plus" v-show="show_plus">
        <h3 class="chart-header">Phổ điểm (đã cộng)</h3>
        <div class="chart-area" ref="chart-area-plus"></div>
        <div class="chart-comment"></div>
      </div>
    </div>   
    <div class="intro">
      <p class="intro-q">Q: Đây là gì?</p>
      <p class="intro-a">A: Đây là 1 công cụ nho nhỏ để tính thứ hạng điểm thi THPTQG (năm 2021 - đợt 1) của bạn. Công cụ chỉ mang tính chất tham khảo, không nên dùng để trực tiếp đưa ra quyết định</p>
      <p class="intro-q">Q: Nó hoạt động như thế nào?</p>
      <p class="intro-a">A: Nhập vào số điểm của bạn, chọn khối thi, khu vực, điểm cộng (nếu cần) để biết xếp hạng điểm thi của bạn</p>
      <p class="intro-q">Q: Sao phổ điểm khối C/D nhìn lạ thế</p>
      <p class="intro-a">A: Vì điểm môn Văn có những số khá lẻ (ví dụ 7.17, 6.28,...) nhưng lại chiếm số ít. Phổ điểm ở những trang khác sẽ làm tròn thành .25, .75,... nhìn cho đẹp, nhưng mình thì không :v. Thành ra nó trông hơi bủh.</p>
      <p id="notice" class="intro-q">Q: Điểm cộng tính theo Tỉnh/Thành phố cần lưu ý gì?</p>
      <p class="intro-a">A: Vì Bộ Giáo dục quy định điểm cộng (điểm vùng) theo từng trường, nên trong một Tỉnh/Thành phố sẽ có một hoặc nhiều mức điểm cộng. Ví dụ khu vực nội thành và ngoại thành TPHCM sẽ có mức điểm cộng khác nhau. Do không có phân loại thí sinh theo trường, công cụ này sẽ tính điểm cộng dựa vào phân loại thí sinh theo Tỉnh/Thành phố (độ chính xác khoảng 70%):</p>
      <ul>
          <li>0 điểm: Hà Nội, TPHCM, Hải Phòng, Đà Nẵng, Cần Thơ</li>
          <li>0.25 điểm: Quảng Ninh, Hải Dương, Thừa Thiên-Huế, Khánh Hòa, Bình Dương, Bình Thuận, Đồng Nai, Bà Rịa-Vũng Tàu</li>
          <li>0.5 điểm: Thái Nguyên, Phú Thọ, Vĩnh Phúc, Bắc Giang, Bắc Ninh, Hưng Yên, Hà Nam, Nam Định, Thái Bình, Ninh Bình, Thanh Hóa, Nghệ An, Hà Tĩnh, Quảng Bình, Quảng Trị, Quảng Nam, Quảng Ngãi, Bình Định, Phú Yên, Ninh Thuận, Tây Ninh, Long An, Đồng Tháp, An Giang, Kiên Giang, Tiền Giang, Bến Tre, Vĩnh Long, Bạc Liêu, Hậu Giang</li>
          <li>0.75 điểm: Hà Giang, Cao Bằng, Lai Châu, Lào Cai, Tuyên Quang, Lạng Sơn, Bắc Kạn, Yên Bái, Sơn La, Hòa Bình, Kon Tum, Gia Lai, Đăk Lăk, Đăk Nông, Lâm Đồng, Bình Phước, Trà Vinh, Sóc Trăng, Cà Mau, Điện Biên</li>
      </ul>
      <!-- <p id="xacsuat">Q: Xác suất điểm cộng là gì?</p>
      <p>A: Cho các thí sinh có điểm gần bạn (điểm thi, chưa cộng) được thêm điểm cộng một cách ngẫu nhiên theo xác suất mà bạn nhập vào (mặc định là 10%, 20%, 30% và 40%, nghĩa là trong 10 thí sinh thì sẽ có ngẫu nhiên 1 thí sinh được cộng 0.75 điểm, 2 thí sinh được cộng 0.5 điểm, 3 thí sinh được cộng 0.25 điểm, 4 thí sinh không được cộng)</p> -->
      <p class="intro-q">Q: Độ chính xác của trang này?</p>
      <p class="intro-a">A: Hm... Chắc là khoảng 95%. 5% còn lại có thể là do thí sinh thi khác địa điểm (khu vực), thiếu điểm thi của một hoặc vài thí sinh,... Về điểm cộng, cách tính theo Tỉnh/Thành phố có độ chính xác khoảng 70%</p>
      <p class="intro-q">Q: Thông báo lỗi, cập nhật, đề xuất tính năng, các vấn đề khác,... ở đâu (nói chung là thông tin liên hệ)</p>
      <p class="intro-a">A: <a href="https://m.me/ntnam11">Gửi tin nhắn cho mình</a>, hoặc tạo issue trên <a href="https://gitlab.com/ntnam11/tsdhrank">GitLab</a>, hoặc email cho mình tại <a href="mailto:ntnam117@gmail.com">ntnam117@gmail.com</a></p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import * as d3 from 'd3';
import * as d3A from 'd3-svg-annotation';
import * as common from '@/assets/ts/common';
import { KeyValueString } from '@/assets/ts/common';

interface ScoreData extends d3.DSVRowString<string> {
  score: string
  count: string
}

@Component
export default class App extends Vue {
  getData(): void {
    if (this.$data.score === '') {
      this.$data.error = true
      this.$data.message = 'Bạn chưa điền điểm thi kìa'
      return
    }
    if (this.$data.grade === '') {
      this.$data.error = true
      this.$data.message = 'Bạn chưa chọn khối thi nha'
      return
    }
    const score = common.parseScore(this.$data.score)
    if (score < 0 || score > 30)
    {
      this.$data.error = true
      this.$data.message = 'Điểm thi trông không đúng lắm. Kiểm tra lại nhé'
      return
    }
    let score_plus = -1
    if (this.$data.score_plus != '')
    {
      score_plus = common.parseScore(this.$data.score_plus)
      if (score_plus < 0 || score_plus > 10)
      {
        this.$data.error = true
        this.$data.message = 'Điểm cộng trông không đúng lắm. Kiểm tra lại nhé'
        return
      }
    }

    this.$data.show_area = this.$data.area.length > 0
    this.$data.show_plus = score_plus != -1

    this.$data.error = false
    const fileName = `data/${this.$data.grade}_ranking.csv`
    d3.csv(fileName, (d) => {
      return d
    }).then((d: unknown) => {
      this.$data.result.rank = d3.sum(((d as unknown) as ScoreData[]), (f: ScoreData) => {
        if (parseFloat(f.score) >= score) return parseInt(f.count)
        return 0
      }) + 1
      this.$data.result.rank_equal = d3.sum(((d as unknown) as ScoreData[]), (f: ScoreData) => {
        if (parseFloat(f.score) == score) return parseInt(f.count)
        return 0
      })
      this.$data.result.total = d3.sum(((d as unknown) as ScoreData[]), (f: ScoreData) => parseInt(f.count))
      this.$data.result.percentage = (this.$data.result.rank / this.$data.result.total * 100).toFixed(2)
      const w = (this.$refs["result-chart"] as HTMLElement).parentElement?.parentElement?.clientWidth || 0;
      let chartData = (((d as unknown) as ScoreData[])).map(f => { return {key: parseFloat(f.score), value: parseInt(f.count)} }) 
      d3.rollup(chartData as Iterable<KeyValueString>, (f: Iterable<KeyValueString>) => d3.sum(f, (g: KeyValueString) => parseFloat(g.value)), (f: KeyValueString) => f.key)
      this.drawBar('chart-area', chartData, w, 500, score)
      this.$data.hasResult = true
      return {}
    })

    if (score_plus != -1)
    {
      const fileName = `data/${this.$data.grade}_ranking_plus.csv`
      d3.csv(fileName, (d) => {
        return d
      }).then((d: unknown) => {
        this.$data.result.rank_plus = d3.sum(d as Iterable<ScoreData>, f => {
          if (parseFloat(f.score) >= score + score_plus) return parseInt(f.count)
          return 0
        })
        this.$data.result.rank_equal_plus = d3.sum(d as Iterable<ScoreData>, f => {
          if (parseFloat(f.score) == score + score_plus) return parseInt(f.count)
          return 0
        })
        this.$data.result.total_plus = d3.sum(d as Iterable<ScoreData>, f => parseInt(f.count))
        this.$data.result.percentage_plus = (this.$data.result.rank_plus / this.$data.result.total_plus * 100).toFixed(2)
        const w = (this.$refs["result-chart"] as HTMLElement).parentElement?.parentElement?.clientWidth || 0;
        let chartData = (((d as unknown) as ScoreData[])).map(f => { return {key: parseFloat(f.score), value: parseInt(f.count)} })
        d3.rollup(chartData as Iterable<KeyValueString>, (f: Iterable<KeyValueString>) => d3.sum(f, (g: KeyValueString) => parseFloat(g.value)), (f: KeyValueString) => f.key)
        this.drawBar('chart-area-plus', chartData, w, 500, score + score_plus)
        return {}
      })
    }

    this.$data.result.area_rank = 1
    this.$data.result.area_rank_equal = 0
    this.$data.result.area_total = 0
    for (let i = 0; i < this.$data.area.length; i++)
    {
      const areaName = this.$data.area[i]
      const fileName = `data/${this.$data.grade}_${areaName}_ranking.csv`
      d3.csv(fileName, (d) => {
        return d
      }).then((d: unknown) => {
        this.$data.result.area_rank += d3.sum(d as Iterable<ScoreData>, f => {
          if (parseFloat(f.score) >= score) return parseInt(f.count)
          return 0
        })
        this.$data.result.area_rank_equal += d3.sum(d as Iterable<ScoreData>, f => {
          if (parseFloat(f.score) == score) return parseInt(f.count)
          return 0
        })
        this.$data.result.area_total += d3.sum(d as Iterable<ScoreData>, f => parseInt(f.count))
        return {}
      })
    }
  
    this.$data.result.area_rank_plus = 1
    this.$data.result.area_rank_equal_plus = 0
    this.$data.result.area_total_plus = 0
    for (let i = 0; i < this.$data.area.length; i++)
    {
      const areaName = this.$data.area[i]
      const fileName = `data/${this.$data.grade}_${areaName}_ranking_plus.csv`
      d3.csv(fileName, (d) => {
        return d
      }).then((d: unknown) => {
        this.$data.result.area_rank_plus += d3.sum(d as Iterable<ScoreData>, f => {
          if (parseFloat(f.score) >= score + score_plus) return parseInt(f.count)
          return 0
        })
        this.$data.result.area_rank_equal_plus += d3.sum(d as Iterable<ScoreData>, f => {
          if (parseFloat(f.score) == score + score_plus) return parseInt(f.count)
          return 0
        })
        this.$data.result.area_total_plus += d3.sum(d as Iterable<ScoreData>, f => parseInt(f.count))
        return {}
      })
    }
    this.$data.result.percentage_area_plus = (this.$data.result.area_rank_plus / this.$data.result.area_total_plus * 100).toFixed(2)
  
  }

  getAreaName(): string {
    let result = [] as string[]
    for (let i = 0; i < this.$data.area.length; i++)
    {
      switch (this.$data.area[i])
      {
        case "B":
          result.push("Miền Bắc")
          break
        case "T":
          result.push("Miền Trung")
          break
        case "N":
          result.push("Miền Nam")
          break
        case "TN":
          result.push("Tây Nguyên")
          break
      }  
    }
    if (result.length == 0) return ''
    if (result.length == 1) return result[0]
    return result.slice(0, result.length - 1).join(", ") + " và " + result[result.length - 1]
  }

  setTooltip(show: boolean, key: string, value: string, top: number, left: number): void {
    this.$data.chart.tooltip.show = show
    this.$data.chart.tooltip.key = key
    this.$data.chart.tooltip.value = value
    
    const w = (this.$refs["chart-tooltip"] as HTMLElement).getBoundingClientRect().width
    const h = (this.$refs["chart-tooltip"] as HTMLElement).getBoundingClientRect().height
    
    let topStr = '';
    let leftStr = '';
    if (left + w > window.innerWidth || top + h > window.innerHeight) {
      topStr = (top - h - 10).toString() + "px"
      leftStr = (left - w - 10).toString() + "px"
    }
    else {
      topStr = `calc(${(top - 10).toString()}px - 2rem)`
      leftStr = (left - w / 2).toString() + "px"
    }

    (this.$refs["chart-tooltip"] as HTMLElement).style.top = topStr;
    (this.$refs["chart-tooltip"] as HTMLElement).style.left = leftStr
  }

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  drawBar(target: string, data: any, width: number, height: number, annotationKey: number): void {
    (this.$refs[target] as HTMLElement).innerHTML = ""

    var margin = {top: 40, right: 30, bottom: 80, left: 40}
    var w = width - margin.left - margin.right
    var h = height - margin.top - margin.bottom
    var color = '#69b3a2'
    var hoverColor = '#ff5b5b' //'#6072f4'
    var annotationColor = '#000000'

    data.sort((a: { key: string }, b: { key: string }) => parseFloat(a.key) < parseFloat(b.key) ? -1 : 1)
    
    var svg = d3.select((this.$refs[target] as HTMLElement))
    .append("svg")
    .attr("width", w + margin.left + margin.right)
    .attr("height", h + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + ",-" + margin.top + ")");
    
    var x = d3.scaleBand()
    .range([ 0, w ])
    .domain(data.map(function(d: { key: number }) { return d.key; }))
    
    var l = x.domain().length
    x.padding(Math.round(l / 500) / 10)
    
    svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call((() => {
      var n = Math.round(l / (w / 20))
      return d3.axisBottom(x).tickValues(x.domain().filter((d, i) => !(i % n)))
    })())
    .selectAll("text")
    .attr("transform", "translate(-10,10) rotate(-90)")
    .style("text-anchor", "end");
    
    var y = d3.scaleLinear()
    .domain([0, parseFloat(d3.max(data, (f: KeyValueString) => f.value) || '0') * 1.15])
    .range([ height, 0]);
    
    svg.append("g")
      .call(d3.axisLeft(y));
    
    const closest = (arr: number[], num: number) => arr.reduce(function(prev: number, curr: number) {
      return (Math.abs(curr - num) < Math.abs(prev - num) ? curr : prev);
    });
    const xClosest = closest(((x.domain() as unknown) as number[]), annotationKey)

    svg.selectAll('bars')
      .data(data)
      .enter()
      .append("rect")
      .attr('class', 'bar')
      .attr('data', (((d: { key: string; value: string }) => `${d.key}: ${d.value}`) as unknown) as string)
      .attr("x", (((d: { key: string }) => x(d.key)) as unknown) as number)
      .attr("y", (((d: { value: number }) => y(d.value)) as unknown) as number)
      .attr("width", x.bandwidth())
      .attr("height", (((d: { value: number }) => height - y(d.value)) as unknown) as number)
      .attr("fill", (((d: { key: number }) => {
        if (d.key == xClosest) return annotationColor
        return color
      }) as unknown) as string);
    
    // eslint-disable-next-line @typescript-eslint/no-this-alias
    let $this = this;
    svg.selectAll('.bar')
    .on('mouseover', function(e: { key: number; value: number }) {
      const mousePos = d3.pointer(e)
      const offsetTop = ($this.$refs[target] as HTMLElement).parentElement?.getBoundingClientRect().top
      const data = ((this as unknown) as { __data__: KeyValueString}).__data__
      $this.setTooltip(true, `${data.key}đ`, `${data.value} thí sinh`, mousePos[1] + (offsetTop || 0) - 10, mousePos[0]);
      (this as SVGElement).setAttribute("fill", hoverColor);
    })
    .on('mouseleave', function() {
      $this.setTooltip(false, '', '', 0, 0);
      const data = ((this as unknown) as { __data__: KeyValueString}).__data__;
      (this as SVGElement).setAttribute("fill", (data.key == xClosest?.toString() ? annotationColor : color));
    })

    const value = data.filter((f: { key: number }) => f.key == xClosest)[0]?.value || 0

    let dx = -100
    let dy = -150
    if (height - y(value) + 200 > height) dy = 150
    if ((x((xClosest as unknown) as string) || (xClosest || 100)) - 200 < 0) dx = 100
    
    const x1 = x((xClosest as unknown) as string) as number
    const y1 = y(value)
    svg.append("line")
      .attr("class", "annotation")
      .attr("x1", x1)
      .attr("y1", y1)
      .attr("x2", x1 + dx)
      .attr("y2", y1 + dy)
      .attr("stroke", annotationColor)
      .attr("stroke-width", 2)

    svg.append("text")
      .attr("class", "annotation")
      .attr("x", x1 + dx + Math.sign(dx) * 20)
      .attr("y", y1 + dy + Math.sign(dy) * 15)
      .text("Bạn ở đây")
  }

  resetResult()
  {
    if (!this.$data.hasResult) return
    this.$data.hasResult = false
  }

  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  data() {
    return {
      hasResult: false,
      score: '',
      grade: '',
      area: [],
      score_plus: '',
      error: false,
      message: '',
      show_area: false,
      show_plus: false,
      result: {
        rank: 0,
        rank_equal: 0,
        total: 0,
        area_rank: 0,
        area_rank_equal: 0,
        area_total: 0,
        rank_plus: 0,
        rank_equal_plus: 0,
        total_plus: 0,
        area_rank_plus: 0,
        area_rank_equal_plus: 0,
        area_total_plus: 0,
      },
      chart: {
        tooltip: {
          show: false,
          key: '',
          value: ''
        }
      }
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  .data-input {
    &:first-child {
      & > * {
        margin-left: 10px;
      }
    }
    &-areas {
      display: flex;
      flex-wrap: wrap;
      max-width: 300px;
      margin: auto;
      &-area {
        width: 50%;
      }
    }
  }
}
.chart-tooltip {
    position: fixed;
    z-index: 10;
    background: #fff;
    border: 1px solid;
    min-width: 100px;
}
button {
  margin: 1em
}
.intro {
  padding: 20px;
  text-align: left;
  &-q {
    font-weight: bold;
    color: red;
    margin-block-end: 0px;
  }
  &-a {
    padding: 10px;
    margin-block-start: 0px;
  }
}
</style>
